:root {
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #f3f3f3;
    margin: 0 auto;
}

header {
    padding: 2em 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.input-container {
    display: flex;
    gap: 0.5em;
}

#error {
    color: rgb(241, 40, 40);
    font-size: 0.9rem;
    margin-right: 80px;
}

#search {
    width: 200px;
    height: 20px;
    padding: 10px;
}

#search-button {
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

sup {
    color: rgb(56, 56, 56);
}

.current-temp-container {
    padding: 2em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-temp-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

.current-weather-icon {
    width: 5em;
    height: 5em;
}

.current-weather-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.2em;
}

#current-temp {
    width: 9em;
    padding: 10px;
    font-size: 1.4em
}

.temp-info {
    font-size: 1rem;
    color: rgb(63, 63, 63);
}

.city {
    font-size: 1.8rem;
    font-weight: 550;
}

.current-day,
.weather-status {
    color: rgb(63, 63, 63);
    font-size: 1.2rem;
}

.time-and-date-card {
    padding: 1em;
}

.daily-temp-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    margin-bottom: 2em;
}

.daily-temp-card {
    margin: 0.3125em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    padding: 1.8em 0.8em;
    text-align: center;
    flex-basis: 10em;
}

.active {
    border-radius: 10px;
    background-color: rgba(195, 216, 216, 0.438);
}

.weather-icon {
    width: 2.8em;
    height: 3.5em;
}

.temp-card {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.day {
    font-size: 1.4rem;
    font-weight: 700;
}

.max-temp {
    font-size: 1rem;
    font-weight: 600;
}

.min-temp {
    color: rgb(63, 63, 63);
}

@media (max-width: 800px) {

    .daily-temp-container {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {

    .current-temp-container {
        flex-direction: column;
        gap: 2em;
        width: 80%;
        margin: 0 auto;
    }
}