:root {
    font-size: 16px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

header {
    padding: 3em 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.input-container {
    display: flex;
    gap: 0.5em;
}

#error {
    color: rgb(241, 40, 40);
    font-size: 0.9em;
    margin-right: 80px;
}

#search {
    width: 200px;
    height: 20px;
    padding: 10px;
}

#search-button {
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 50%;
}

main {
    text-align: center;
}

sup {
    font-size: 0.7em;
    color: rgb(56, 56, 56);
}

.current-temp-container {
    padding: 1em 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-temp-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.current-weather-icon {
    width: 6em;
    height: 6em;
}

.current-weather-info{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

#current-temp {
    width: 140px;
    padding: 10px;
    font-size: 1.4em
}

.temp-info {
    font-size: 1em;
    color: rgb(63, 63, 63);
}

.city {
    font-size: 1.2em;
    font-weight: 550;
}

.current-day,
.weather-status {
    color: rgb(63, 63, 63);
    font-size: 0.7em;
}

.time-and-date-card {
    font-size: 1.8em;
}

.daily-temp-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.daily-temp-card {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    text-align: center;
}

.active {
    border-radius: 10px;
    background-color: rgb(245, 242, 242);
}

.weather-icon {
    width: 50px;
    height: 70px;
}

.temp-card {
    display: flex;
    gap: 1em;
}

.day {
    font-size: 1.4em;
    font-weight: 700;
}

.max-temp {
    font-size: 1em;
    font-weight: 600;
}

.min-temp {
    color: rgb(63, 63, 63);
}